body {
  color: #fbfbfb;
  background: #7a3145;
  font-size: 16px;
  font-family: "Inter Tight", sans-serif;
}
.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 20px;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  padding-bottom: 40px;
  margin: 0;
  max-width: 335px;
}
.hero {
  background: #576f35;
  height: 777px;
  background-image: url(/images/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: 0px 100%;
}

@media (min-width: 320px) {
  .hero {
    padding: 0 20px;
  }
}
@media (min-width: 375px) {
}
